---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Aspiring Digital Marketer with a passion for online Marketing. 
    Experienced in utilizing social media platforms to build brand communities and increase online visibility. 
    Eager to apply knowledge of SEO,PPC,and Email Marketing to deliver impactful results.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Certificate in Digital Marketing"
      subtitle=" 2024 to 2025 at Honey Treat Academy, Lagos, Nigeria"
    />
    <TimeLineElement
      title=" NcE  Certificate in Teaching and Business Education\Secretariat"
      subtitle="2010 to 2013 at Tai Solarin College of Education, Ogun, Nigeria"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Digital Marketer Specialist"
      subtitle="From 2023 to Present at Joselly Unique Bags Collection, Lagos, Nigeria"
    >
    • Created and Implemented marketing campaigns to attract new clients and signed up 10 new clients each new week at the very least
    • Ensured a steady referral generation to boost my commission earnings
    • Provided assistance and support to trading clients so they had a seamless trading experience
    • Built relationships with other businesses and individuals to win their business into the firm when ready which led to another 30% more conversions
    • Monitored referral performance, tracking commissions,updating regular Ireports to ensure efficiency and accountability
     .
    </TimeLineElement>
    <TimeLineElement
      title="SIWES"
      subtitle="From 2024 to Present at Orbeets Digital Tech.Solution, Lagos, Nigeria"
    >
    Drove over 10 new leads to the Orbeets digital service platform every week
    • Groomed and ensured clients were actively purchasing Orbeet’s service while moving them to other products in the funnel
    • Onboarded new offers to existing and new clients and increased
    commissions by 150%
     .
    </TimeLineElement>
    <TimeLineElement
      title="Data Entry"
      subtitle="2022 at Lagos Writers, Lagos, Nigeria"
    >
      Accurately recorded and managed data, ensuring that all the information are entered correctly and efficiently. Ensured data integrity and consistency throughregular checks and updates.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Google Ads</li>
    <li>Meta Ads</li>
    <li>Email Marketing</li>
    <li>Search Engine Optimization</li>
    <li>Google Analytics</li>
    <li>Google Console</li>
    <li>Search Engine Advertising</li>
    <li>Google Slide</li>
    <li>Social Media Marketing</li>
    <li>Entrepreneurship</li>
    <li>Soft Skill</li>
    <li>Blog Writing</li>
    <li>Website Creation with Wordpress</li>
    <li>Canva Design</li>
    <li>Google Business Profile</li>
  </ul>
</BaseLayout>
